---
# Alpaca
APCA_API_BASE_URL: https://paper-api.alpaca.markets
APCA_API_KEY_ID:
APCA_API_SECRET_KEY:

# Pushover (Optional)
PUSHOVER_API_KEY: uc6d47qjv916wa8ifnqm9ch5iy4j68
PUSHOVER_API_TOKEN: asi5phj4gwniqozvzewyyrioerxb3h

# MySQL
MYSQL_USER: admin
MYSQL_PASSWORD: password

# Telegram
TELEGRAM_API_KEY:
TELEGRAM_CALLBACK_URL: https://vyapari-<unique-name>.jprq.io/callback
TELEGRAM_USER_CHAT_ID: 844016685
